---
layout: default 
---

<!-- cover -->

<h1 dir="rtl" style="text-align:right;">{{ site.title }}</h1>
<h3 dir="rtl" style="text-align:right;">نوشته {{ site.author.name }}</h3>



<!-- table of contents -->

<div dir="rtl" style="text-align:right;" class='toc'>

محتوا:

<ul>
{% for chapter in site.chapters %}
  <li dir="rtl" style="text-align:right;" >{{ chapter.title }}</li>
{% endfor %}
</ul>

</div>


<!-- chapters -->

{% for chapter in site.chapters %}

<div dir="auto" style="text-align:right;" class='chapter'>
  <h2 dir="rtl" style="text-align:right;">{{ chapter.title }}</h2>

  {{ chapter.content }}
</div>

{% endfor %}
